<section class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h1>Cairo Car Zone,</h1>
      <h2>Search For Affordable Price To Rent.</h2>
    </div>
    <div class="col-md-6 col-xs-12 text-center">
      <div class="col-md-8">
        <form class="customize">
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Country...</option>
              <option value="1">America</option>
              <option value="2">Egypt</option>
              <option value="2">England</option>
              <option value="2">France</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02">
              <option selected>City...</option>
              <option value="1">America</option>
              <option value="2">Egypt</option>
              <option value="2">England</option>
              <option value="2">France</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect03">
              <option selected>Location...</option>
              <option value="1">America</option>
              <option value="2">Egypt</option>
              <option value="2">England</option>
              <option value="2">France</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <label>Pick-up Date: </label>
            <input id="date" class="form-control" type="date"/>
          </div>
          <div class="input-group mb-3">
            <label>Drop-off Date</label>
            <input id="date2" class="form-control" type="date"/>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-primary col-4" routerLink="/rentcar">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
