section{
    background: url('../../assets/pexels-photo-164634.jpeg')no-repeat left center  !important;
    background-size: cover !important;
    width: 100%!important;
    height: 100%!important;
    position: fixed !important;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    animation: back-cover 10s linear infinite;
}
@keyframes back-cover {
    0%   {opacity: 1;}
    25%  {opacity: 0.9;}
    50%  {opacity: 0.8;}
    75%  {opacity: 0.7;}
    85%  {opacity: 0.8;}
    100% {opacity: 0.9;}
}
.customize{
    background-color: #3498db;
    padding: 80px 40px;
    margin-top: 60px;
    border-radius: 3px;
    opacity: 0.9;
}
select,input.form-control {
    border: 2px solid #C4c4c4;
    border-radius: 0;
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
}
button{
    border-radius: 0;
}
h1{
    margin-top: 60px;
    font-size:50px ;
}
h1,h2{
    color:#fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    background:#000 ;
}