section{
    background: url('../../assets/pexels-photo-164634.jpeg')no-repeat left center  !important;
    background-size: cover !important;
    width: 100%!important;
    height: 100%!important;
    position: fixed !important;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    animation: back-cover 90s  infinite;
    -webkit-animation: back-cover 90s  infinite;
    -moz-animation: back-cover 90s  infinite;
    -o-animation: back-cover 90s  infinite;

}
@keyframes back-cover {
    0%   {opacity: 0.8 !important;}
    25%  {opacity: 0.7 !important;}
    50%  {opacity: 0.8 !important;}
    100% {opacity: 0.9 !important;}
}
.customize{
    background-color: #3498db;
    padding: 80px;
    margin-top: 60px;
    border-radius: 3px;
    opacity: 0.8;
}