<section class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="col-md-4">
        <form class="customize">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="User Name" aria-label="E-mail" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" aria-label="E-mail" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Comfirm Password" aria-label="E-mail" aria-describedby="basic-addon2">
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-primary ">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
