<section class="container-fluid mix">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Rent Now</a>
            </div>
        </div>
    </div>
</section>