.mix{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}
.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c4c4c4;
    border-radius: .25rem;
    margin:10px 0 0 40px ;
}

a.btn.btn-primary{
    border-radius: 0;
}
