<section class="container-fluid mix">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-170811.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">BMW 318i</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pexels-photo-116675.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Rang Rover</h5>
                <ul class="list-inline list-unstyled">
                    <li>Available</li>
                    <li>Price: 15$</li>
                    <li>Location:12 Abas El Akad, Cairo, Egypt</li>
                </ul>
                <a href="#" class="btn btn-primary" routerLink="/controlpanel">Rent Now</a>
            </div>
        </div>
    </div>
</section>